@model MVC_Onion_Project.Presentation.Models.BookVM_s.BookCreateVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color: white">Create Book</h1>


<div class="row">
    <div class="card col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationDate" class="control-label"></label>
                <input asp-for="PublicationDate" class="form-control" />
                <span asp-validation-for="PublicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <select asp-for="AuthorId" asp-items="Model.AuthorList" class="form-control"></select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>

@*            <div class="form-group">
                <label asp-for="SelectedCategoryIds" class="control-label"></label>
                <select asp-for="SelectedCategoryIds" asp-items="Model.CategoryList" multiple class="form-control " ></select>
                <span asp-validation-for="SelectedCategoryIds" class="text-danger"></span>
            </div>*@


            <div class="form-group">
                <label>Kategori Seçimi</label>
                <select id="categorySelect" asp-for="SelectedCategoryIds" asp-items="Model.CategoryList" multiple class="form-control">
                </select>
            </div>

            <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
            <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

            <script type="text/javascript">
                $(document).ready(function () {
                    $("#categorySelect").select2({
                        placeholder: "Lütfen Seçiniz",
                        allowClear: true
                    });
                });
            </script>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

